{% extends 'base.html' %}

{% block header %}
    <h2 class="title">All Tasks for {{ session.get("username").capitalize() }}</h2>
    <a href="{{ url_for('task.create_task') }}">New task</a>
{% endblock %}
{% block content %}
    <h3>Active Tasks</h3>
    {% if not active_tasks %}
        <p>No active tasks. Please proceed to <a href="{{ url_for('task.create_task') }}">Create new task</a></p>
    {% else %}
            {% for task in active_tasks %}
                <h4>{{ task.title }}</h4>
                <p>Due: {{ task.due_date }}</p>
                <p>{{ task.description }}</p>
                <a href="{{ url_for('task.edit_task', id = task.task_id) }}">Edit task</a>
                <a href="{{ url_for('task.delete_task', id = task.task_id) }}">Delete task</a>
                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
    {% endif %}
    <h3>Expired Tasks</h3>
    <hr>
    {% if not expired_tasks %}
        <p>No expired tasks.</p>
    {% else %}
            {% for task in expired_tasks %}
                <h4>{{ task.title }}</h4>
                <p>Due: {{ task.due_date }}</p>
                <p>{{ task.description }}</p>
                <a href="{{ url_for('task.edit_task', id = task.task_id) }}">Edit task</a>
                <a href="{{ url_for('task.delete_task', id = task.task_id) }}">Delete task</a>
                {% if not loop.last %}
                <hr>
                {% endif %}
            {% endfor %}
    {% endif %}
{% endblock %}