{% extends 'base.html' %}
{% block header %}
    <h2 class="title">Creating Task for {{ session.get("username").capitalize() }}</h2>
{% endblock %}

{% block content %}

<div class="form-wrapper">
    <form method="post" action="{{ url_for('task.create_task') }}">
        {{ task.csrf_token() }}
        <fieldset class="form-field">
            {{ task.title.label }}
            {{ task.title }}
            {% if task.title.errors %}
            <ul class="errors">
                {% for error in task.title.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ task.description.label }}
            {{ task.description }}
            {% if task.description.errors %}
            <ul class="errors">
                {% for error in task.description.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        <fieldset class="form-field">
            {{ task.due_date.label }}
            {{ task.due_date (class = "datepicker") }}
            {% if task.due_date.errors %}
            <ul class="errors">
                {% for error in task.due_date.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>
        <input type="hidden" id="user_id" value="{{ session.get('user_id') }}">

        {{ task.submit }}

    </form>
</div>

{% endblock %}